<a href="https://colab.research.google.com/github/AndyZhang127/temp/blob/main/Chipotle_Solutions_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
# Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

In [ ]:
# Step 2. Import the dataset from this address.
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [ ]:
# Step 3. Assign it to a variable called chipo
# chipotle=pd.read_csv(io.StringIO(source_csv.decode('utf-8')))
chipo=pd.read_csv(url, sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
# Step 4. See the first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [ ]:
# Step 5. What is the number of observations in the dataset
chipo.shape[0]
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
# Step 6. What is the number of columns in the dataset
chipo.shape[1]

5

In [ ]:
# Step 7. print the name of all the columns
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
# Step 8. how is the dataset indexed
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [ ]:
# Step 9. how is the most-ordered item
item_order=chipo.groupby('item_name')
item_order=item_order.sum()
item_order=item_order.sort_values(['quantity'],ascending=False)
item_order.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [ ]:
# Step 10. For the most-ordered item, how many items were ordered?
item_order.head(1)['order_id']

item_name
Chicken Bowl    713926
Name: order_id, dtype: int64

In [ ]:
# Step 11. What was the most ordered item in the choice_description column?
item_order=chipo.groupby('choice_description')
item_order=item_order.sum()
item_order=item_order.sort_values(['quantity'],ascending=False)
item_order.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [ ]:
# Step 12. How many items were ordered in total?
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

In [ ]:
# Step 13. Turn items were ordered in total
# a.Check the item price type
# b.Create a lambda function and change the type of item price
# c.Check the item price type

chipo.item_price.dtype

dollarizer = lambda x:float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

chipo.item_price.dtype

dtype('float64')

In [ ]:
# Step 14. How much was the revenue for the period in the dataset?
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [ ]:
# Step 15. How many orders were made in the period?
orders = chipo.order_id.value_counts().count()
orders

1834

In [ ]:
# Step 16. What is the average revenue amount per order?
chipo['revenue']=chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(['order_id']).sum()
order_grouped.mean()['revenue']

21.39423118865867

In [ ]:
# Step 17. How many different items are sold?
chipo.item_name.value_counts().count()

50