<a href="https://colab.research.google.com/github/AndyZhang127/temp/blob/main/Occupation_Solution_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 43 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 67.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=8b1e9b5b986c86e4a67c25ea3bcd1f173525db07f466126c23b9f550e1e30046
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
# Step 1. Import the necessary libraries

import pyspark
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('ex3').getOrCreate()
spark

In [3]:
# Step 2. Import the dataset from this address.

from pyspark import SparkFiles

url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
spark.sparkContext.addFile(url)

In [4]:
#Step 3. Assign it to a variable called users and use the 'user_id' as index
users=spark.read.csv(SparkFiles.get("u.user"),header=True,inferSchema=True,sep='|')

In [5]:
users.show()

+-------+---+------+-------------+--------+
|user_id|age|gender|   occupation|zip_code|
+-------+---+------+-------------+--------+
|      1| 24|     M|   technician|   85711|
|      2| 53|     F|        other|   94043|
|      3| 23|     M|       writer|   32067|
|      4| 24|     M|   technician|   43537|
|      5| 33|     F|        other|   15213|
|      6| 42|     M|    executive|   98101|
|      7| 57|     M|administrator|   91344|
|      8| 36|     M|administrator|   05201|
|      9| 29|     M|      student|   01002|
|     10| 53|     M|       lawyer|   90703|
|     11| 39|     F|        other|   30329|
|     12| 28|     F|        other|   06405|
|     13| 47|     M|     educator|   29206|
|     14| 45|     M|    scientist|   55106|
|     15| 49|     F|     educator|   97301|
|     16| 21|     M|entertainment|   10309|
|     17| 30|     M|   programmer|   06355|
|     18| 35|     F|        other|   37212|
|     19| 40|     M|    librarian|   02138|
|     20| 42|     F|    homemaker|   95660|
+-------+---+------+-------------+--------+
only showing top 20 rows

In [6]:
#See the first 25 entries
users.show(25)

+-------+---+------+-------------+--------+
|user_id|age|gender|   occupation|zip_code|
+-------+---+------+-------------+--------+
|      1| 24|     M|   technician|   85711|
|      2| 53|     F|        other|   94043|
|      3| 23|     M|       writer|   32067|
|      4| 24|     M|   technician|   43537|
|      5| 33|     F|        other|   15213|
|      6| 42|     M|    executive|   98101|
|      7| 57|     M|administrator|   91344|
|      8| 36|     M|administrator|   05201|
|      9| 29|     M|      student|   01002|
|     10| 53|     M|       lawyer|   90703|
|     11| 39|     F|        other|   30329|
|     12| 28|     F|        other|   06405|
|     13| 47|     M|     educator|   29206|
|     14| 45|     M|    scientist|   55106|
|     15| 49|     F|     educator|   97301|
|     16| 21|     M|entertainment|   10309|
|     17| 30|     M|   programmer|   06355|
|     18| 35|     F|        other|   37212|
|     19| 40|     M|    librarian|   02138|
|     20| 42|     F|    homemaker|   95660|
|     21| 26|     M|       writer|   30068|
|     22| 25|     M|       writer|   40206|
|     23| 30|     F|       artist|   48197|
|     24| 21|     F|       artist|   94533|
|     25| 39|     M|     engineer|   55107|
+-------+---+------+-------------+--------+
only showing top 25 rows

In [7]:
#See the last 10 entries
users.tail(10)

[Row(user_id=934, age=61, gender='M', occupation='engineer', zip_code='22902'),
 Row(user_id=935, age=42, gender='M', occupation='doctor', zip_code='66221'),
 Row(user_id=936, age=24, gender='M', occupation='other', zip_code='32789'),
 Row(user_id=937, age=48, gender='M', occupation='educator', zip_code='98072'),
 Row(user_id=938, age=38, gender='F', occupation='technician', zip_code='55038'),
 Row(user_id=939, age=26, gender='F', occupation='student', zip_code='33319'),
 Row(user_id=940, age=32, gender='M', occupation='administrator', zip_code='02215'),
 Row(user_id=941, age=20, gender='M', occupation='student', zip_code='97229'),
 Row(user_id=942, age=48, gender='F', occupation='librarian', zip_code='78209'),
 Row(user_id=943, age=22, gender='M', occupation='student', zip_code='77841')]

In [8]:
#Step 6. What is the number of observations in the dataset?
(users.count(),len(users.columns))

(943, 5)

In [9]:
#Step 7. What is the number of columns in the dataset?
len(users.columns)

5

In [10]:
#Step 8. Print the name of all the columns.
users.columns

['user_id', 'age', 'gender', 'occupation', 'zip_code']

In [ ]:
#Step 9. How is the dataset indexed?

In [11]:
#Step 10. What is the data type of each column?
users.describe()

DataFrame[summary: string, user_id: string, age: string, gender: string, occupation: string, zip_code: string]

In [12]:
#Step 11. Print only the occupation column

users.select("occupation").show()

+-------------+
|   occupation|
+-------------+
|   technician|
|        other|
|       writer|
|   technician|
|        other|
|    executive|
|administrator|
|administrator|
|      student|
|       lawyer|
|        other|
|        other|
|     educator|
|    scientist|
|     educator|
|entertainment|
|   programmer|
|        other|
|    librarian|
|    homemaker|
+-------------+
only showing top 20 rows

In [13]:
#Step 12. How many different occupations are in this dataset?
from pyspark.sql.functions import countDistinct

users.select(countDistinct("occupation")).head(1)[0][0]

21

In [14]:
#Step 13. What is the most frequent occupation?
users.show(5)
frequent_occupation=users.groupBy("occupation").count().orderBy("count",ascending=0)
print("occupation_name:", frequent_occupation.head(1)[0][0])
print("occupation_count:", frequent_occupation.head(1)[0][1])

+-------+---+------+----------+--------+
|user_id|age|gender|occupation|zip_code|
+-------+---+------+----------+--------+
|      1| 24|     M|technician|   85711|
|      2| 53|     F|     other|   94043|
|      3| 23|     M|    writer|   32067|
|      4| 24|     M|technician|   43537|
|      5| 33|     F|     other|   15213|
+-------+---+------+----------+--------+
only showing top 5 rows

occupation_name: student
occupation_count: 196

In [15]:
#Step 14. Summarize the DataFrame
users.describe().show()

+-------+-----------------+-----------------+------+-------------+------------------+
|summary|          user_id|              age|gender|   occupation|          zip_code|
+-------+-----------------+-----------------+------+-------------+------------------+
|  count|              943|              943|   943|          943|               943|
|   mean|            472.0|34.05196182396607|  null|         null| 50868.78810810811|
| stddev|272.3649512449549|12.19273973305903|  null|         null|30891.373254138176|
|    min|                1|                7|     F|administrator|             00000|
|    max|              943|               73|     M|       writer|             Y1A6B|
+-------+-----------------+-----------------+------+-------------+------------------+

In [16]:
#Step 15. Summarize all the columns
users.describe().show()

+-------+-----------------+-----------------+------+-------------+------------------+
|summary|          user_id|              age|gender|   occupation|          zip_code|
+-------+-----------------+-----------------+------+-------------+------------------+
|  count|              943|              943|   943|          943|               943|
|   mean|            472.0|34.05196182396607|  null|         null| 50868.78810810811|
| stddev|272.3649512449549|12.19273973305903|  null|         null|30891.373254138176|
|    min|                1|                7|     F|administrator|             00000|
|    max|              943|               73|     M|       writer|             Y1A6B|
+-------+-----------------+-----------------+------+-------------+------------------+

In [17]:
#Step 16. Summarize only the occupation column
users.describe("occupation").show()

+-------+-------------+
|summary|   occupation|
+-------+-------------+
|  count|          943|
|   mean|         null|
| stddev|         null|
|    min|administrator|
|    max|       writer|
+-------+-------------+

In [18]:
#Step 17. What is the mean age of users?
#solution1
users.describe('age').head(2)[1][1]

'34.05196182396607'

In [19]:
#solution2
import pyspark.sql.functions as func
from pyspark.sql import DataFrameStatFunctions as statFunc

age_mean=users.agg(func.mean('age').alias('age_avg'))
age_mean.show()

+-----------------+
|          age_avg|
+-----------------+
|34.05196182396607|
+-----------------+

In [20]:
#solution3
age_mean=users.agg({'age':'mean'}).withColumnRenamed("avg(age)","age_avg")
age_mean.show()

+-----------------+
|          age_avg|
+-----------------+
|34.05196182396607|
+-----------------+

In [24]:
#Step 18.What is the age with least occurrence?
age_count=users.groupBy('age').count().orderBy("count",ascending=True)
age_count.show()

+---+-----+
|age|count|
+---+-----+
| 73|    1|
|  7|    1|
| 11|    1|
| 10|    1|
| 66|    1|
| 62|    2|
| 69|    2|
| 68|    2|
| 64|    2|
| 59|    3|
| 63|    3|
| 70|    3|
| 14|    3|
| 65|    3|
| 58|    3|
| 61|    3|
| 54|    4|
| 13|    5|
| 16|    5|
| 52|    6|
+---+-----+
only showing top 20 rows