<a href="https://colab.research.google.com/github/AndyZhang127/temp/blob/main/Pyspark_Summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 40 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 48.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=68187aa5c78d637116e3ff8d4892bd1213a35d30ff5e1514b4062124ea91f883
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [3]:
from pyspark.sql import functions as F

In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Task").getOrCreate()
spark

# 1.Getting Various Source Data

## 1.1 **[URL]**

Use **spark.sparkContext.addFile()** firstly, Then **SparkFiles.get()** to get file

### 1.1.1 Chipotle

*   header=True
*   inferSchema=True
*   sep='\t'

In [ ]:
from pyspark import SparkFiles

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
spark.sparkContext.addFile(url)
chipotle=spark.read.csv(SparkFiles.get("chipotle.tsv"), header=True, inferSchema=True, sep='\t')

chipotle.show()

In [ ]:
chipotle.select(chipotle.item_name,F.when(chipotle.quantity>1,1).otherwise(0).alias('is_greate_than_1')).show()

### 1.1.2 Occupation

In [ ]:
from pyspark import SparkFiles

url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
spark.sparkContext.addFile(url)
occupation=spark.read.csv(SparkFiles.get("u.user"),header=True,inferSchema=True,sep='|')

occupation.show()

### 1.1.3 Euro12

In [ ]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv"
spark.sparkContext.addFile(url)
euro12 = spark.read.csv(SparkFiles.get('Euro_2012_stats_TEAM.csv'), header=True, inferSchema=True, sep=',')
euro12.show()

### 1.1.4 Drinks

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
spark.sparkContext.addFile(url)
drinks = spark.read.csv(SparkFiles.get("drinks.csv"), header=True, inferSchema=True, sep=",")
drinks.show(5)

### 1.1.4 Iris

In [ ]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
spark.sparkContext.addFile(url)
iris = spark.read.csv(SparkFiles.get("iris.data"), header=False, inferSchema=True, sep=',')
iris.show(5)

In [ ]:
new_names = ["sepal_length", 
             "sepal_width",
             "petal_length",
             "petal_width",
             "class"]
iris = iris.toDF(*new_names)
iris.show(5)

### 1.1.5 users

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
spark.sparkContext.addFile(url)
users = spark.read.csv(SparkFiles.get("u.user"), header=True, inferSchema=True, sep='|')
users.show(5)

### 1.1.6 stud_alcoh

In [ ]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv"

spark.sparkContext.addFile(url)

stud_alcoh = spark.read.csv(SparkFiles.get("student-mat.csv"), header=True, inferSchema=True, sep=',')
stud_alcoh.show()

### 1.1.7 crime

In [ ]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv"

spark.sparkContext.addFile(url)

crime = spark.read.csv(SparkFiles.get("US_Crime_Rates_1960_2014.csv"), inferSchema=True, header=True, sep="," )
crime.show(5)

### 1.1.8 cars

In [8]:
cars1_URL = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
cars2_URL = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"

spark.sparkContext.addFile(cars1_URL)
spark.sparkContext.addFile(cars2_URL)

cars1 = spark.read.csv(SparkFiles.get("cars1.csv"), header=True, inferSchema=True, sep=',')
cars2 = spark.read.csv(SparkFiles.get("cars2.csv"), header=True, inferSchema=True, sep=',')

### 1.1.9 baby_names

In [ ]:
from pyspark import SparkFiles
import pandas as pd

url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"

spark.sparkContext.addFile(url)

baby_names = spark.read.csv(SparkFiles.get("US_Baby_Names_right.csv"), header=True, inferSchema=True, sep=',')
baby_names.show(5)

### 1.1.10 wind_stat

In [ ]:
from pyspark import SparkFiles
import pandas as pd
data_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'
data = pd.read_csv(data_url, sep = "\s+", parse_dates = [[0,1,2]]) 
data_df = spark.createDataFrame(data)
data_df.show(10)

## 1.2  **[LOCAL]**

### 1.2.1 Food

In [ ]:
food = spark.read.csv('en.openfoodfacts.org.products.tsv',header=True, inferSchema=True, sep='\t')

## 1.3 [DICTIONARY]

Firstly,Transfer raw_data into **pandas dataframe**.
Secondly,Transfer **pandas dataframe** to **Spark dataframe**

### 1.3.1 Fictional Army

In [10]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington','Oregon','Wyoming','Louisana','Georgia']
}

In [ ]:
import pandas as pd

army = spark.createDataFrame(pd.DataFrame(data=raw_data))
army.show()

### 1.3.2 Regiment

In [17]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [ ]:
import pandas as pd
regiment = spark.createDataFrame(pd.DataFrame(data=raw_data))
regiment.show(5)

### 1.3.3 Pokemon

In [29]:
data = [("Ivysaur",45,"Bulbasaur","yes","grass"),
        ("Charmeleon",39,"Charmander","no","fire"),
        ("Wartortle",44,"Squirtle","yes","water"),
        ("Metapod",45,"Caterpie","no","bug")]
  
# giving column names of dataframe
columns = ["evolution", "hp", "name","pokedex", "type"]

# creating a dataframe df
pokemon = spark.createDataFrame(data, columns)
pokemon.show()

### 1.3.4 Fictitious

In [139]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

In [ ]:
data1 = spark.createDataFrame(pd.DataFrame(raw_data_1))
data1.show()

data2 = spark.createDataFrame(pd.DataFrame(raw_data_2))
data2.show()

data3 = spark.createDataFrame(pd.DataFrame(raw_data_3))
data3.show()

## 1.4 [Series]

###1.4.1 housemkt

In [ ]:
import numpy as np
import pandas as pd
r1 = list(map(int, list(np.random.randint(low=1, high=5, size=100))))
print(r1)
print(type(r1))
print(type(r1[0]))

r2 = list(map(int, list(np.random.randint(low=1, high=4, size=100))))
print(r2)
print(type(r2))
print(type(r2[0]))

r3 = list(map(int, list(np.random.randint(low=10000, high=30001, size=100))))
print(r3)
print(type(r3))
print(type(r3[0]))

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import Row

data = list(zip(r1, r2, r3))
columns = ["R1", "R2", "R3"]
dataframe = spark.createDataFrame(data, columns)
dataframe.head(2)
dataframe.show(5)

# 2.Lambda Function

1.Steps of using lambda function in Pyspark

1.   define general function 
2.   use **udf()** define lambda function
3.   use **withColumn()** to apply the function to specific column

2.The expression of lambda 

  **lambda x: dolariser(x)**



*   x: return value
*   dolariser(x): x input value; dolariser(x) apply dolariser function to each x column

##2.1 CASE 1

In [37]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import FloatType, StringType

def dolariser(x):
    return str(x[1:-1])

udf_dolariser = udf(lambda x: dolariser(x), StringType())
chipo_df = chipo.withColumn("item_price",udf_dolariser(col("item_price")))
chipo_df = chipo_df.withColumn("item_price", chipo_df["item_price"].cast('float'))

## 2.2 CASE 2

In [94]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [ ]:
def gender_num(x):
    if x == "M":
        return int(1)
    if x == "F":
        return int(0)
udf_gender_num = udf(lambda x: gender_num(x),IntegerType()) 

users_df = users.withColumn("gender_num", udf_gender_num(col("gender")))
users_df.show(5)

## 2.3 CASE 3

In [ ]:
def capitalizer(x):
    return str(x[0].upper() + x[1:].lower())

cap = lambda x : x.capitalize()
s1 = "lamBda"
print(cap(s1))

udf_cap = udf(lambda x : x.capitalize(), StringType())

school_df = school_df.withColumn("Mjob", udf_cap(col("Mjob")))
school_df = school_df.withColumn("Fjob", udf_cap(col("Fjob")))
school_df.show(5)

# 3.Select

### 3.1 Specific columns

In [ ]:
chipo_df.select("item_name","item_price").show()

In [ ]:
chipo_df.select(["item_name","item_price"]).show()

In [ ]:
columns=["item_name","item_price"]
chipo_df.select(columns).show()

### 3.2 Range of column

In [ ]:
army.select(army.columns[2:7]).show(5)

In [ ]:
school_df = df.select(df.columns[df.columns.index("school"): df.columns.index("guardian") + 1 ])
school_df.show(5)

# 4.Filter/Where


"Filter" & "Where" are used interchangibly due to their similar funtionality
1.   **where**
2.   **filter**

## 4.1 Single Condition

In [ ]:
chipo_df.filter("item_price>10").show()

In [67]:
chipo_df.filter(chipo_df.item_price>10).show()

In [70]:
chipo_df.where(chipo_df.item_name=="Veggie Salad Bowl").show()

## 4.2 Multiple Conditions

In [ ]:
chipo_df.where((chipo_df.item_name=="Canned Soda") & (chipo_df.quantity>1)).show()

In [ ]:
army.where((army.deaths>500) | (army.deaths<50)).show()

In [ ]:
army.filter((army.deaths>500) | (army.deaths<50)).show()

# 5.Sort

**orderBy**

## 5.1 Single Column

In [ ]:
chipo_df.orderBy(chipo_df["item_name"], ascending= 1).show(5)

## 5.2 Mutiple Column

In [ ]:
#default all column ascending=1;Sort the teams by Red Cards, then to Yellow Cards 
euro12.orderBy(["Red Cards","Yellow Cards"]).show()

# 6.Group

In [ ]:
chipo_df.groupBy("item_name").count().show()

# 7.Functions

## 7.1 Aggregate function

### 7.1.1 count

In [ ]:
euro12.select(count('Team')).show()

In [ ]:
gender_ocup = users.groupBy("occupation","gender").agg({"gender": "count"})
gender_ocup = gender_ocup.withColumnRenamed("count(gender)", "gender_count")
gender_ocup.show(5)

In [ ]:
occup_count = users.groupBy("occupation").count()
occup_count = occup_count.withColumnRenamed("count","occup_count")
occup_count.show(5)

In [ ]:
chipo_df.select(count("order_id")).show()

### 7.1.2 countDistinct

In [ ]:
euro12.select(countDistinct('Team')).show()

In [ ]:
chipo_df.select(countDistinct("order_id")).show()

### 7.1.3 **mean**

In [ ]:
euro12.agg({"Yellow Cards" : "mean"}).show()

### 7.1.4 **avg**

In [ ]:
beer_continent = drinks.groupBy("continent").agg({"beer_servings":"avg"})
beer_continent.orderBy("avg(beer_servings)", ascending=0).show()

In [ ]:
drinks.select(["beer_servings","continent"]).groupBy("continent").mean().orderBy("avg(beer_servings)", ascending=0).show()

In [ ]:
drinks.groupBy("continent").mean().show()

### 7.1.5 min

In [ ]:
users.groupBy("occupation").agg(min('age')).show(5)

### 7.1.6 max

In [ ]:
users.groupBy("occupation").agg(max('age')).show(5)

### 7.1.6 sum

In [ ]:
most_ordered_item = chipotle.groupBy("item_name").sum()
most_ordered_item.orderBy("sum(quantity)",ascending=0).show(1)

In [ ]:
most_choice_description_item = chipotle.groupBy("choice_description").sum()
most_choice_description_item.orderBy("sum(quantity)",ascending=0).show(2)

In [ ]:
total_quantity = chipotle.agg({"quantity":"sum"})
total_quantity.show()

## 7.2 General Function

### 7.2.1 startswith()

In [ ]:
euro12.where(euro12.Team.startswith("G")).select("Team").show()

### 7.2.2 isin()

In [ ]:
euro12.select("Team","Shooting Accuracy").filter(euro12.Team.isin(['England','Italy','Russia'])).show()

In [ ]:
countries = ['England','Italy','Russia']
euro12.select("Team","Shooting Accuracy").filter(euro12.Team.isin(countries)).show()

### 7.2.3 cast()

In [ ]:
chipo_df = chipo_df.withColumn("item_price", chipo_df["item_price"].cast('float'))
chipo_df.show(5)

## 7.3 Statistic Function

### 7.3.1 describe()

In [ ]:
drinks.describe().show()

In [ ]:
drinks.describe().select("summary","spirit_servings").show()

In [ ]:
continent = drinks.select("continent").distinct().collect()
continents = sorted([x[0] for x in continent])

for each in continents:
    print(each)
    drinks.filter(drinks.continent.isin(each)).describe().select("summary","wine_servings").show()

### 7.3.2 approxQuantile()

In [ ]:
continent = drinks.select("continent").distinct().collect()
continents = sorted([x[0] for x in continent])
for each in continents:
    print(each)
    print(['beer_servings', 'spirit_servings', 'wine_servings', 'total_litres_of_pure_alcohol'])
    print(drinks.filter(drinks.continent.isin(each)).approxQuantile(['beer_servings', 'spirit_servings', 'wine_servings', 'total_litres_of_pure_alcohol'], [0.5],0.001))

## 7.3 Date Function

In [ ]:
import pyspark.sql.functions as f
crime = crime.withColumn("Year", f.to_date(f.from_unixtime(f.col("Year"))))
crime.show()

In [ ]:
data_df = data_df.withColumn("Yr_Mo_Dy", to_date("Yr_Mo_Dy"))
data_df.show(5)

In [ ]:
date_data_df = data_df.withColumn("Yr", year("Yr_Mo_Dy")) \
.withColumn("Mo",month("Yr_Mo_Dy")) \
.withColumn("Dy", dayofmonth("Yr_Mo_Dy"))

date_data_df.show(5)

# 9.Join Table

## 9.1 join()

default inner join

### 9.1.1 CASE 1-inner join

In [ ]:
users_male = users_df.filter(users_df.gender == "M").groupBy("occupation").count()
users_male = users_male.withColumnRenamed("count", "male_count")
users_male.show(5)

In [ ]:
users_all = users_df.groupBy("occupation").count()
users_all = users_all.withColumnRenamed("count","occ_total")
users_all.show(5)

In [ ]:
result = users_male.join(users_all, ["occupation"])
result.show(5)

### 9.1.2 CASE 2-inner join

In [ ]:
gender_ocup = users.groupBy("occupation","gender").agg({"gender": "count"})
gender_ocup = gender_ocup.withColumnRenamed("count(gender)", "gender_count")
gender_ocup.show(5)

In [ ]:
occup_count = users.groupBy("occupation").count()
occup_count = occup_count.withColumnRenamed("count","occup_count")
occup_count.show(5)

In [ ]:
occup_gender = gender_ocup.join(occup_count,['occupation'])
occup_gender.show(5)

### 9.1.3 CASE 3-inner join

In [ ]:
result = all_data.join(data3, ['subject_id'])
result.show()

In [ ]:
data_12 = data1.join(data2,['subject_id'], 'inner')
data_12.show()

### 9.1.4 CASE 4-outer join

In [ ]:
data_all = data1.join(data2,['subject_id'], 'outer')
data_all.show()

## 9.2 unionByName()

In [ ]:
all_data = data1.unionByName(data2)
all_data.show()

# 8.Operation in columns

## 8.1 withColumnRenamed()

In [ ]:
users_male = users_df.filter(users_df.gender == "M").groupBy("occupation").count()
users_male = users_male.withColumnRenamed("count", "male_count")
users_male.show(5)

##8.2 withColumn()

### 8.2.1 add new column

#### 8.2.1.1 CASE 1

In [ ]:
result_male_ratio = result.withColumn("male_ratio",(result['male_count']/result['occ_total'])*100 )
result_male_ratio.orderBy("male_ratio", ascending=0).show(5)

#### 8.2.1.2 CASE2

In [ ]:
occup_gender = occup_gender.withColumn("percent_presence", (occup_gender['gender_count']/occup_gender['occup_count'])*100)
occup_gender.orderBy(["occupation","gender"], ascending=1).show(5)

### 8.2.1 operate old column

In [ ]:
df = df.withColumn("Mjob", udf_cap(col("Mjob")))
df = df.withColumn("Fjob", udf_cap(col("Fjob")))
df.show(5)

## 8.3 alias()

In [ ]:
euro12.select(count('Team').alias('Team_cnt')).show()

##8.4 drop()

###8.4.1 CASE1

In [ ]:
crime.drop("Total").show(5)

###8.4.2 CASE2

In [ ]:
cols_to_drop = ["_c0","Id"]
baby_names= baby_names.drop(*cols_to_drop)
baby_names.show(2)

###8.4.3 CASE3

In [ ]:
print(cars1.columns)

cols_to_delete = []
for c in cars1.columns:
    if c.startswith('_'):
        cols_to_delete.append(c)

print(cols_to_delete)

cars1 = cars1.drop(*cols_to_delete)
cars1.show(2)

# 10.Know your data

## 10.1 printSchema()

In [ ]:
users_male.printSchema()

## 10.2 show()

In [ ]:
chipotle.show(10)

## 10.3 take()

In [ ]:
chipotle.take(2)

## 10.4 number of rows and columns

In [ ]:
# Solution 1
print(chipotle.count(), ",", len(chipotle.columns))

In [ ]:
# Solution 2
def sparkShape(dataFrame):
    return (dataFrame.count(), len(dataFrame.columns))

pyspark.sql.dataframe.DataFrame.shape = sparkShape

print(chipotle.shape())

## 10.5 tail()

In [ ]:
school_df.tail(2)

# 11.Comprehensive

In [ ]:
#below query can not use where to filter because once use where then the orderBy can not work 
chipo_df.groupBy("item_name").count().filter(chipo_df.item_name.isin(["Veggie Salad Bowl","Izze"])).orderBy(['count'],ascending= 0).show()